/*css重置*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0;
}
input,button{
    outline: none;
}
/*css重置结束*/
/*wrapper开始*/
.wrapper{
    width: 1226px;
    margin: 0 auto;
}
/*wrapper结束*/
/*header开始*/
.header .header-head{
    display: block;
    height: 120px;
    background: url("../img/sitead.jpg") no-repeat center;
}
.header-center{
    height: 40px;
    background: #333;
}
.center-nav a{
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}
.center-nav a:hover{
    color:white;
}
.center-nav li{
    float: left;
}
.header-center li:after{
    content: '|';
    margin: 0 5px;
    color: #424242;
}
.header-center .select:after{
    content: '';
}
.header-center .cart{
    height: 40px;
    width: 120px;
    float: right;
    margin: 0 20px;
}
.header-center .cart div{
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}
.cart img{
    margin: 4px 0;
}
.cart-right{
    float: right;
}
.center-nav-center li{
    float: right;
    font-size: 12px;
    line-height: 40px;
    color: #b0b0b0;
}
.center-nav-center a{
    color: #b0b0b0;
}
.center-nav-center a:hover{
    color: #ffffff;
}
.footer-nav {
    line-height: 100px;
}

.header-footer ul{
    width: 920px;
    height: 100px;
}
.header-footer .logo{
    float: left;
    width: 230px;
    height: 100px;
}
.header-footer .logo a{
    display: block;
    width: 55px;
    height: 55px;
    margin: 20px 0;
    background: url("../img/logo.png") no-repeat 0;
}
.footer-input input{
    float: right;
    margin: 20px 0;
}
.footer-input-search{
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    width: 245px;
    height: 50px;
}
.footer-input-submit{
    left: 244px;
    outline: 0;
    border: 1px solid #e0e0e0;
    padding: 1px 6px;
    width: 52px;
    height: 52px;
    background: transparent;
}
.footer-nav li{
    float: left;
}
.footer-nav li:after{
    content: '';
    margin: 0 10px;
}
.footer-nav a{
    color: inherit;
}
.center-nav .cart-hover{
    width: 350px;
    height: 100px;
}
.center-nav .cart:hover .cart-hover{

}
/*header结束*/