/*css重置*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    border: 0;
}
input,button{
    outline: none;
}
/*css重置结束*/
/*header开始*/
.header .header-head{
    display: block;
    height: 120px;
    background: url("../img/sitead.jpg") no-repeat center;
}
/*header结束*/